template.yaml
# cloud formation template for sentiment getter
# https://docs.aws.amazon.com/serverless-application-model/latest/developerguide/sam-specification-resources-and-properties.html
AWSTemplateFormatVersion: "2010-09-09"
Transform: AWS::Serverless-2016-10-31
Description: Sentiment Analysis Pipeline for Social Media Keywords

Parameters:
  RedditClientId:
    Type: String
    Description: Reddit API Client ID
  RedditClientSecret:
    Type: String
    Description: Reddit API Client Secret
    NoEcho: true  # Hide the value in CloudFormation console
  BucketName:
    Type: String
    Description: S3 Bucket for storing Comprehend input/output
  OpenAIApiKey:
    Type: String
    Description: OpenAI API Key for ChatGPT integration
    NoEcho: true  # Hide the value in CloudFormation console

Resources:
  # S3 Bucket for Comprehend input/output
  SentimentBucket:
    Type: AWS::S3::Bucket
    Properties:
      BucketName: !Ref BucketName
      LifecycleConfiguration:
        Rules:
          - Id: DeleteOldFiles
            Status: Enabled
            ExpirationInDays: 60

  # SQS Queues
  PostsDLQ:
    Type: AWS::SQS::Queue
    Properties:
      MessageRetentionPeriod: 1209600 # 14 days

  PostsQueue:
    Type: AWS::SQS::Queue
    Properties:
      VisibilityTimeout: 300 # 5 minutes
      RedrivePolicy:
        deadLetterTargetArn: !GetAtt PostsDLQ.Arn
        maxReceiveCount: 3 # Move to DLQ after 3 failed attempts

  # SNS Topic for Error Notifications
  ErrorTopic:
    Type: AWS::SNS::Topic
    Properties:
      DisplayName: SentimentAnalysisErrors

  # Lambda Layer for Python dependencies
  PythonDependenciesLayer:
    Type: AWS::Serverless::LayerVersion
    Properties:
      LayerName: !Sub "${AWS::StackName}-python-deps"
      Description: Python dependencies for social media APIs (praw, tweepy)
      ContentUri: layers/python-api-packages.zip
      CompatibleRuntimes:
        - python3.11
        - python3.12
        - python3.13
      RetentionPolicy: Retain

  # Log Groups with 1 week retention
  RedditScraperLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub "/aws/lambda/${AWS::StackName}-reddit-scraper"
      RetentionInDays: 7

  # Lambda Functions
  RedditScraperFunction:
    Type: AWS::Serverless::Function
    Properties:
      CodeUri: sentiment_getter/
      Handler: functions/reddit/entry.lambda_handler
      Runtime: python3.12
      Timeout: 30
      LoggingConfig:
        LogGroup: !Ref RedditScraperLogGroup
      Layers:
        - !Ref PythonDependenciesLayer
      Environment:
        Variables:
          REDDIT_CLIENT_ID: !Ref RedditClientId
          REDDIT_CLIENT_SECRET: !Ref RedditClientSecret
          POSTS_QUEUE_URL: !Ref PostsQueue
          OPENAI_API_KEY: !Ref OpenAIApiKey
      Policies:
        - SQSSendMessagePolicy:
            QueueName: !GetAtt PostsQueue.QueueName

  SentimentAnalyzerLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub "/aws/lambda/${AWS::StackName}-sentiment-analyzer"
      RetentionInDays: 7

  SentimentAnalyzerFunction:
    Type: AWS::Serverless::Function
    Properties:
      CodeUri: sentiment_getter/
      Handler: functions/sentiment_analyzer.lambda_handler
      Runtime: python3.12
      Timeout: 60
      LoggingConfig:
        LogGroup: !Ref SentimentAnalyzerLogGroup
      Layers:
        - !Ref PythonDependenciesLayer
      Environment:
        Variables:
          S3_BUCKET_NAME: !Ref BucketName
          COMPREHEND_ROLE_ARN: !GetAtt ComprehendServiceRole.Arn
          JOBS_TABLE_NAME: !Ref ComprehendJobsTable
          RESULTS_TABLE_NAME: !Ref SentimentResultsTable
      Policies:
        - Version: "2012-10-17"
          Statement:
            - Effect: Allow
              Action:
                - "comprehend:*"
              Resource: "*"
            - Effect: Allow
              Action:
                - iam:PassRole
              Resource: !GetAtt ComprehendServiceRole.Arn
              Condition:
                StringEquals:
                  "iam:PassedToService": "comprehend.amazonaws.com"
        - SQSPollerPolicy:
            QueueName: !GetAtt PostsQueue.QueueName
        - DynamoDBCrudPolicy:
            TableName: !Ref ComprehendJobsTable
        - DynamoDBCrudPolicy:
            TableName: !Ref SentimentResultsTable
        - S3CrudPolicy:
            BucketName: !Ref BucketName
      Events:
        SQSEvent:
          Type: SQS
          Properties:
            Queue: !GetAtt PostsQueue.Arn
            BatchSize: 10

  # CloudWatch Log Group for Step Functions
  StepFunctionsLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub "/aws/vendedlogs/states/${AWS::StackName}-KeywordPipeline"
      RetentionInDays: 7

  # Step Functions State Machine
  KeywordPipeline:
    Type: AWS::Serverless::StateMachine
    Properties:
      Type: EXPRESS
      Logging:
        Level: ALL
        IncludeExecutionData: true
        Destinations:
          - CloudWatchLogsLogGroup:
              LogGroupArn: !GetAtt StepFunctionsLogGroup.Arn
      Definition:
        StartAt: ProcessKeywords
        States:
          ProcessKeywords:
            Type: Map
            InputPath: "$.tasks"
            ItemProcessor:
              StartAt: ScrapeReddit
              States:
                ScrapeReddit:
                  Type: Task
                  Resource: !GetAtt RedditScraperFunction.Arn
                  Parameters:
                    "keyword.$": "$.keyword"
                    "subreddits.$": "$.subreddits"
                    "time_filter.$": "$.time_filter"
                    "sort.$": "$.sort"
                    "post_limit.$": "$.post_limit"
                  Retry:
                    - ErrorEquals:
                        ["States.TaskFailed", "Lambda.ServiceException"]
                      IntervalSeconds: 20
                      MaxAttempts: 3
                      BackoffRate: 2.0
                  Catch:
                    - ErrorEquals: ["States.ALL"]
                      ResultPath: "$.error"
                      Next: NotifyError
                  End: true
                NotifyError:
                  Type: Task
                  Resource: "arn:aws:states:::sns:publish"
                  Parameters:
                    TopicArn: !Ref ErrorTopic
                    Message.$: "$.error"
                    Subject: "Sentiment Analysis Pipeline Error"
                  Next: FailExecution
                FailExecution:
                  Type: Fail
                  Error: "ExecutionFailed"
                  Cause: "Task execution failed, check SNS notification for details"
            End: true
      Policies:
        - LambdaInvokePolicy:
            FunctionName: !Ref RedditScraperFunction
        - SNSPublishMessagePolicy:
            TopicName: !GetAtt ErrorTopic.TopicName
        - CloudWatchLogsFullAccess
      # https://docs.aws.amazon.com/eventbridge/latest/userguide/eb-scheduled-rule-pattern.html
      Events:
        HourlyTrigger:
          Type: Schedule
          Properties:
            Schedule: rate(1 hour)
            Input: |
              {
                "tasks": [
                  {
                    "keyword": "league of legends",
                    "time_filter": "day",
                    "subreddits": [],
                    "sort": "top",
                    "post_limit": 6,
                    "top_comments_limit": 5
                  },
                  {
                    "keyword": "valorant",
                    "time_filter": "day",
                    "subreddits": [],
                    "sort": "top",
                    "post_limit": 6,
                    "top_comments_limit": 5
                  },
                  {
                    "keyword": "minecraft",
                    "time_filter": "day",
                    "subreddits": [],
                    "sort": "top",
                    "post_limit": 6,
                    "top_comments_limit": 5
                  },
                  {
                    "keyword": "assassin's creed",
                    "time_filter": "day",
                    "subreddits": [],
                    "sort": "top",
                    "post_limit": 6,
                    "top_comments_limit": 5
                  },
                  {
                    "keyword": "cyberpunk 2077",
                    "time_filter": "day",
                    "subreddits": [],
                    "sort": "top",
                    "post_limit": 6,
                    "top_comments_limit": 5
                  },
                  {
                    "keyword": "data engineer",
                    "time_filter": "day",
                    "subreddits": [],
                    "sort": "top",
                    "post_limit": 6,
                    "top_comments_limit": 5
                  },
                  {
                    "keyword": "data analyst",
                    "time_filter": "day",
                    "subreddits": [],
                    "sort": "top",
                    "post_limit": 6,
                    "top_comments_limit": 5
                  },
                  {
                    "keyword": "artificial intelligence",
                    "time_filter": "day",
                    "subreddits": [],
                    "sort": "top",
                    "post_limit": 6,
                    "top_comments_limit": 5
                  },
                  {
                    "keyword": "machine learning",
                    "time_filter": "day",
                    "subreddits": [],
                    "sort": "top",
                    "post_limit": 6,
                    "top_comments_limit": 5
                  }
                ]
              }

  # IAM Role for Comprehend to access S3
  ComprehendServiceRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: comprehend.amazonaws.com
            Action: "sts:AssumeRole"
            Condition:
              StringEquals:
                "aws:SourceAccount": !Ref "AWS::AccountId"
      ManagedPolicyArns:
        - "arn:aws:iam::aws:policy/AmazonS3FullAccess"
      Policies:
        - PolicyName: ComprehendServiceRolePolicy
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action:
                  - "s3:GetObject"
                  - "s3:ListBucket"
                  - "s3:PutObject"
                Resource:
                  - !Sub "arn:aws:s3:::${BucketName}"
                  - !Sub "arn:aws:s3:::${BucketName}/*"

  # DynamoDB table to track job status
  ComprehendJobsTable:
    Type: AWS::DynamoDB::Table
    Properties:
      TableName: !Sub "${AWS::StackName}-comprehend-jobs"
      BillingMode: PAY_PER_REQUEST
      AttributeDefinitions:
        - AttributeName: job_id
          AttributeType: S
        - AttributeName: status
          AttributeType: S
      KeySchema:
        - AttributeName: job_id
          KeyType: HASH
      GlobalSecondaryIndexes:
        - IndexName: status-index
          KeySchema:
            - AttributeName: status
              KeyType: HASH
          Projection:
            ProjectionType: ALL
      TimeToLiveSpecification:
        AttributeName: ttl
        Enabled: true

  # DynamoDB table for sentiment results
  SentimentResultsTable:
    Type: AWS::DynamoDB::Table
    Properties:
      TableName: !Sub "${AWS::StackName}-sentiment-results"
      BillingMode: PAY_PER_REQUEST
      AttributeDefinitions:
        - AttributeName: keyword
          AttributeType: S
        - AttributeName: created_time
          AttributeType: S
      KeySchema:
        - AttributeName: keyword
          KeyType: HASH
        - AttributeName: created_time
          KeyType: RANGE
      TimeToLiveSpecification:
        AttributeName: ttl
        Enabled: true

  JobPollerLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub "/aws/lambda/${AWS::StackName}-job-poller"
      RetentionInDays: 7

  JobPollerFunction:
    Type: AWS::Serverless::Function
    Properties:
      CodeUri: sentiment_getter/
      Handler: functions/job_poller.lambda_handler
      Runtime: python3.12
      Timeout: 60
      LoggingConfig:
        LogGroup: !Ref JobPollerLogGroup
      Environment:
        Variables:
          S3_BUCKET_NAME: !Ref BucketName
          JOBS_TABLE_NAME: !Ref ComprehendJobsTable
          RESULTS_TABLE_NAME: !Ref SentimentResultsTable
      Policies:
        - DynamoDBCrudPolicy:
            TableName: !Ref ComprehendJobsTable
        - DynamoDBCrudPolicy:
            TableName: !Ref SentimentResultsTable
        - Version: "2012-10-17"
          Statement:
            - Effect: Allow
              Action:
                - "comprehend:*"
              Resource: "*"
        - S3CrudPolicy:
            BucketName: !Ref BucketName
      Events:
        ScheduleEvent:
          Type: Schedule
          Properties:
            Schedule: rate(1 minute)

Outputs:
  StateMachineArn:
    Description: "State machine ARN"
    Value: !Ref KeywordPipeline
  ScraperFunctionArn:
    Description: "Reddit scraper function ARN"
    Value: !GetAtt RedditScraperFunction.Arn
  AnalyzerFunctionArn:
    Description: "Sentiment analyzer function ARN"
    Value: !GetAtt SentimentAnalyzerFunction.Arn
  ErrorTopicArn:
    Description: "Error notification topic ARN"
    Value: !Ref ErrorTopic
  JobPollerFunctionArn:
    Description: "Job poller function ARN"
    Value: !GetAtt JobPollerFunction.Arn
  ComprehendJobsTableName:
    Description: "DynamoDB table for tracking Comprehend jobs"
    Value: !Ref ComprehendJobsTable
