template.yaml
AWSTemplateFormatVersion: '2010-09-09'
Transform: AWS::Serverless-2016-10-31
Description: Complete Sentiment Analysis Pipeline Infrastructure

Parameters:
  RedditClientId:
    Type: String
  RedditClientSecret:
    Type: String
    NoEcho: true
  OpenAIApiKey:
    Type: String
    NoEcho: true
    Default: ""
  SupabaseUrl:
    Type: String
  SupabaseKey:
    Type: String
    NoEcho: true
  BucketName:
    Type: String

Resources:
  # Infrastructure Resources
  SentimentBucket:
    Type: AWS::S3::Bucket
    Properties:
      BucketName: !Ref BucketName
      LifecycleConfiguration:
        Rules:
          - Id: DeleteOldObjects
            Status: Enabled
            ExpirationInDays: 7

  ErrorTopic:
    Type: AWS::SNS::Topic
    Properties:
      DisplayName: SentimentAnalysisErrors

  # Glue Catalog Resources
  SentimentalDatabase:
    Type: AWS::Glue::Database
    Properties:
      CatalogId: !Ref AWS::AccountId
      DatabaseInput:
        Name: sentimental
        Description: Database for sentiment analysis data

  # Kinesis Firehose Resources
  PostDeliveryStream:
    Type: AWS::KinesisFirehose::DeliveryStream
    Properties:
      DeliveryStreamType: DirectPut
      # SAM schema is not up-to-date so it might throw warnings, IcebergDestinationConfiguration is actually valid
      # https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-kinesisfirehose-deliverystream.html#cfn-kinesisfirehose-deliverystream-icebergdestinationconfiguration
      IcebergDestinationConfiguration:
        RoleARN: !GetAtt FirehoseServiceRole.Arn
        CatalogConfiguration:
          CatalogArn: !Sub arn:aws:glue:${AWS::Region}:${AWS::AccountId}:catalog
        DestinationTableConfigurationList:
          - DestinationDatabaseName: sentimental
            DestinationTableName: post
            UniqueKeys: ["id"]
            S3ErrorOutputPrefix: errors/unique_key_failure/
        CloudWatchLoggingOptions:
          Enabled: true
          LogGroupName: !Ref FirehoseLogGroup
          LogStreamName: !Sub ${AWS::StackName}-post-stream
        S3Configuration:
          BucketARN: !GetAtt SentimentBucket.Arn
          RoleARN: !GetAtt FirehoseServiceRole.Arn
          Prefix: iceberg/
          ErrorOutputPrefix: errors/
        BufferingHints:
          IntervalInSeconds: 180
          SizeInMBs: 8

  # IAM Roles
  FirehoseServiceRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: firehose.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: FirehoseServicePolicy
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - logs:PutLogEvents
                  - logs:CreateLogStream
                  - logs:CreateLogGroup
                  - logs:DescribeLogStreams
                Resource: !Sub arn:aws:logs:${AWS::Region}:${AWS::AccountId}:log-group:/aws/firehose/*
              - Effect: Allow
                Action:
                  - s3:PutObject
                  - s3:GetObject
                  - s3:ListBucket
                  - s3:DeleteObject
                Resource:
                  - !Sub ${SentimentBucket.Arn}/*
                  - !Sub ${SentimentBucket.Arn}
              - Effect: Allow
                Action:
                  - glue:GetTable
                  - glue:GetTableVersion
                  - glue:GetTableVersions
                  - glue:CreateTable
                  - glue:UpdateTable
                  - glue:GetDatabase
                  - glue:GetDatabases
                  - glue:GetTableVersions
                  - glue:GetPartition
                  - glue:GetPartitions
                  - glue:BatchCreatePartition
                  - glue:BatchDeletePartition
                Resource: 
                  - !Sub arn:aws:glue:${AWS::Region}:${AWS::AccountId}:catalog
                  - !Sub arn:aws:glue:${AWS::Region}:${AWS::AccountId}:database/${SentimentalDatabase}
                  - !Sub arn:aws:glue:${AWS::Region}:${AWS::AccountId}:table/${SentimentalDatabase}/*

  # Log Groups
  FirehoseLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub /aws/firehose/${AWS::StackName}-post-stream
      RetentionInDays: 7

  # Python Dependencies Layer
  PythonDependenciesLayer:
    Type: AWS::Serverless::LayerVersion
    Properties:
      LayerName: python-deps
      Description: Python dependencies for social media APIs
      ContentUri: layers/python-api-packages.zip
      CompatibleRuntimes:
        - python3.12
      RetentionPolicy: Retain

  # Log Groups
  RedditScraperLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub /aws/lambda/${AWS::StackName}-reddit-scraper
      RetentionInDays: 7

  SteamScraperLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub /aws/lambda/${AWS::StackName}-steam-scraper
      RetentionInDays: 7

  SentimentJobCreatorLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub /aws/lambda/${AWS::StackName}-sentiment-job-creator
      RetentionInDays: 7

  JobPollerLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub /aws/lambda/${AWS::StackName}-job-poller
      RetentionInDays: 7

  KeywordAPIPipelineLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub /aws/vendedlogs/states/KeywordAPIPipeline
      RetentionInDays: 7

  JobProcessingLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub /aws/vendedlogs/states/JobProcessingPipeline
      RetentionInDays: 7

  # Lambda Functions
  RedditScraperFunction:
    Type: AWS::Serverless::Function
    Properties:
      CodeUri: sentiment_getter/
      Handler: functions/scrapers/reddit/reddit.lambda_handler
      Runtime: python3.12
      Timeout: 60
      MemorySize: 192
      Layers:
        - !Ref PythonDependenciesLayer
      LoggingConfig:
        LogGroup: !Ref RedditScraperLogGroup
      Environment:
        Variables:
          REDDIT_CLIENT_ID: !Ref RedditClientId
          REDDIT_CLIENT_SECRET: !Ref RedditClientSecret
          OPENAI_API_KEY: !Ref OpenAIApiKey
          S3_BUCKET_NAME: !Ref BucketName
      Policies:
        - S3CrudPolicy:
            BucketName: !Ref BucketName

  SteamScraperFunction:
    Type: AWS::Serverless::Function
    Properties:
      CodeUri: sentiment_getter/
      Handler: functions/scrapers/steam/steam.lambda_handler
      Runtime: python3.12
      Timeout: 30
      Layers:
        - !Ref PythonDependenciesLayer
      LoggingConfig:
        LogGroup: !Ref SteamScraperLogGroup
      Environment:
        Variables:
          S3_BUCKET_NAME: !Ref BucketName
          OPENAI_API_KEY: !Ref OpenAIApiKey
      Policies:
        - S3CrudPolicy:
            BucketName: !Ref BucketName

  SentimentJobCreatorFunction:
    Type: AWS::Serverless::Function
    Properties:
      CodeUri: sentiment_getter/
      Handler: functions/job_creator/job_creator.lambda_handler
      Runtime: python3.12
      Timeout: 360
      MemorySize: 512
      Layers:
        - !Ref PythonDependenciesLayer
      LoggingConfig:
        LogGroup: !Ref SentimentJobCreatorLogGroup
      Environment:
        Variables:
          S3_BUCKET_NAME: !Ref BucketName
          OPENAI_API_KEY: !Ref OpenAIApiKey
      Policies:
        - S3CrudPolicy:
            BucketName: !Ref BucketName

  SyncPostToSupabaseFunction:
    Type: AWS::Serverless::Function
    Properties:
      CodeUri: sentiment_getter/
      Handler: functions/job_poller/sync_post_to_supabase.lambda_handler
      Runtime: python3.12
      Timeout: 60
      Layers:
        - !Ref PythonDependenciesLayer
      LoggingConfig:
        LogGroup: !Ref JobPollerLogGroup
      Environment:
        Variables:
          S3_BUCKET_NAME: !Ref BucketName
          SUPABASE_URL: !Ref SupabaseUrl
          SUPABASE_KEY: !Ref SupabaseKey
          OPENAI_API_KEY: !Ref OpenAIApiKey
      Policies:
        - S3CrudPolicy:
            BucketName: !Ref BucketName

  GetJobStatusFunction:
    Type: AWS::Serverless::Function
    Properties:
      CodeUri: sentiment_getter/
      Handler: functions/job_poller/get_job_status.lambda_handler
      Runtime: python3.12
      Timeout: 90
      Layers:
        - !Ref PythonDependenciesLayer
      LoggingConfig:
        LogGroup: !Ref JobPollerLogGroup
      Environment:
        Variables:
          S3_BUCKET_NAME: !Ref BucketName
          OPENAI_API_KEY: !Ref OpenAIApiKey

  # Step Functions
  KeywordAPIPipeline:
    Type: AWS::Serverless::StateMachine
    Properties:
      Type: STANDARD
      Logging:
        Level: ALL
        IncludeExecutionData: true
        Destinations:
          - CloudWatchLogsLogGroup:
              LogGroupArn: !GetAtt KeywordAPIPipelineLogGroup.Arn
      Policies:
        - CloudWatchLogsFullAccess
        - LambdaInvokePolicy:
            FunctionName: !Ref RedditScraperFunction
        - LambdaInvokePolicy:
            FunctionName: !Ref SteamScraperFunction
        - LambdaInvokePolicy:
            FunctionName: !Ref SentimentJobCreatorFunction
        - S3CrudPolicy:
            BucketName: !Ref BucketName
        - SNSPublishMessagePolicy:
            TopicName: !Ref ErrorTopic
        - AWSStepFunctionsFullAccess
        - Version: '2012-10-17'
          Statement:
            - Effect: Allow
              Action:
                - firehose:PutRecord
                - firehose:PutRecordBatch
              Resource: !GetAtt PostDeliveryStream.Arn
      Definition:
        StartAt: GetConfiguration
        States:
          GetConfiguration:
            Type: Task
            QueryLanguage: JSONata
            Resource: "arn:aws:states:::aws-sdk:s3:getObject"
            Arguments:
              Bucket: !Ref BucketName
              Key: "config/keywords_config.json"
            Output: "{% $parse($states.result.Body) %}"
            Assign:
              execution_id: "{% $split($states.context.Execution.Id, ':')[-1] %}"
            Next: SelectScrapers
          SelectScrapers:
            Type: Parallel
            Branches:
              - StartAt: ProcessRedditTasks
                States:
                  ProcessRedditTasks:
                    Type: Map
                    QueryLanguage: JSONata  
                    Items: "{% $states.input.source.reddit %}"
                    Output:
                      ErrorCount: "{% $sum($states.result.FailedPutCount) %}"
                    MaxConcurrency: 45
                    ToleratedFailurePercentage: 40
                    ItemProcessor:
                      ProcessorConfig:
                        Mode: DISTRIBUTED
                        ExecutionType: EXPRESS
                      StartAt: RedditScraper
                      States:
                        RedditScraper:
                          Type: Task
                          Resource: "arn:aws:states:::lambda:invoke"
                          Parameters:
                            FunctionName: !Ref RedditScraperFunction
                            Payload.$: "$"
                          OutputPath: "$.Payload"
                          Next: CheckEmptyRedditPosts
                        CheckEmptyRedditPosts:
                          Type: Choice
                          QueryLanguage: JSONata
                          Choices:
                            - Condition: "{% $count($states.input.posts) = 0 %}"
                              Next: PassRedditPosts
                          Default: PutRedditPostsToFirehose
                        PutRedditPostsToFirehose:
                          Type: Task
                          QueryLanguage: JSONata
                          Resource: "arn:aws:states:::aws-sdk:firehose:putRecordBatch"
                          Arguments:
                            DeliveryStreamName: !Ref PostDeliveryStream
                            Records: "{% [$map($states.input.posts, function($v) { {'Data': $string($v)} })] %}"
                          End: true
                        PassRedditPosts:
                          Type: Pass
                          End: true
                    End: true
                    Retry:
                      - ErrorEquals:
                          - States.TaskFailed
                          - States.Timeout
                        BackoffRate: 2
                        IntervalSeconds: 20
                        MaxAttempts: 3
                        JitterStrategy: FULL
                    Catch:
                      - ErrorEquals:
                          - States.TaskFailed
                          - States.Timeout
                        Next: SNSPublishRedditError
                        Output:
                          error: "{% $states.errorOutput %}"
                  SNSPublishRedditError:
                    Type: Task
                    Resource: "arn:aws:states:::sns:publish"
                    Parameters:
                      TopicArn: !Ref ErrorTopic
                      "Message.$": "$"
                    End: true
              - StartAt: ProcessSteamTasks
                States:
                  ProcessSteamTasks:
                    Type: Map
                    QueryLanguage: JSONata
                    Items: "{% $states.input.source.steam %}"
                    Output:
                      ErrorCount: "{% $sum($states.result.FailedPutCount) %}"
                    ToleratedFailurePercentage: 30
                    MaxConcurrency: 90
                    ItemProcessor:
                      ProcessorConfig:
                        Mode: DISTRIBUTED
                        ExecutionType: EXPRESS
                      StartAt: SteamScraper
                      States:
                        SteamScraper:
                          Type: Task
                          Resource: "arn:aws:states:::lambda:invoke"
                          Parameters:
                            FunctionName: !Ref SteamScraperFunction
                            Payload.$: "$"
                          OutputPath: "$.Payload"
                          Next: CheckEmptySteamPosts
                        CheckEmptySteamPosts:
                          Type: Choice
                          QueryLanguage: JSONata
                          Choices:
                            - Condition: "{% $count($states.input.posts) = 0 %}"
                              Next: PassSteamPosts
                          Default: PutSteamPostsToFirehose
                        PutSteamPostsToFirehose:
                          Type: Task
                          QueryLanguage: JSONata
                          Resource: "arn:aws:states:::aws-sdk:firehose:putRecordBatch"
                          Arguments:
                            DeliveryStreamName: !Ref PostDeliveryStream
                            Records: "{% [$map($states.input.posts, function($v) { {'Data': $string($v)} })] %}"
                          End: true
                        PassSteamPosts:
                          Type: Pass
                          End: true
                    End: true
                    Retry:
                      - ErrorEquals:
                          - States.TaskFailed
                          - States.Timeout
                        BackoffRate: 2
                        IntervalSeconds: 20
                        MaxAttempts: 3
                        JitterStrategy: FULL
                    Catch:
                      - ErrorEquals:
                          - States.TaskFailed
                          - States.Timeout
                        Next: SNSPublishSteamError
                        Output:
                          error: "{% $states.errorOutput %}"
                  SNSPublishSteamError:
                    Type: Task
                    Resource: "arn:aws:states:::sns:publish"
                    Parameters:
                      TopicArn: !Ref ErrorTopic
                      "Message.$": "$"
                    End: true
            QueryLanguage: JSONata
            Output:
              ErrorCount: "{% $sum($states.result.ErrorCount) %}"
            Arguments:
              source:
                reddit: "{% [$map($states.input.source.reddit, function($v) { $merge([$v, { 'ephermeral_execution_id': $execution_id }]) })] %}"
                steam: "{% [$map($states.input.source.steam, function($v) { $merge([$v, { 'ephermeral_execution_id': $execution_id }]) })] %}"
            Next: CreateSentimentJob
          CreateSentimentJob:
            Type: Task
            OutputPath: $.Payload
            Resource: "arn:aws:states:::lambda:invoke"
            Parameters:
              FunctionName: !Ref SentimentJobCreatorFunction
              Payload.$: $
            Next: StartJobProcessing
          StartJobProcessing:
            Type: Task
            Resource: "arn:aws:states:::states:startExecution"
            Parameters:
              StateMachineArn: !Ref JobProcessingPipeline
              Input.$: "$"
            End: true
      Events:
        HourlyTrigger:
          Type: Schedule
          Properties:
            Schedule: rate(1 hour)
            Input: "{}"
            Enabled: false

  JobProcessingPipeline:
    Type: AWS::Serverless::StateMachine
    Properties:
      Type: STANDARD
      Logging:
        Level: ALL
        IncludeExecutionData: true
        Destinations:
          - CloudWatchLogsLogGroup:
              LogGroupArn: !GetAtt JobProcessingLogGroup.Arn
      Policies:
        - CloudWatchLogsFullAccess
        - LambdaInvokePolicy:
            FunctionName: !Ref GetJobStatusFunction
        - LambdaInvokePolicy:
            FunctionName: !Ref SyncPostToSupabaseFunction
        - S3CrudPolicy:
            BucketName: !Ref BucketName
        - SNSPublishMessagePolicy:
            TopicName: !Ref ErrorTopic
        - AWSStepFunctionsFullAccess
      Definition:
        StartAt: GetJobStatus
        States:
          GetJobStatus:
            Type: Task
            Resource: "arn:aws:states:::lambda:invoke"
            Parameters:
              FunctionName: !Ref GetJobStatusFunction
              Payload.$: "$"
            OutputPath: "$.Payload"
            Next: JobComplete
          JobComplete:
            Type: Choice
            Choices:
              - Variable: "$.status"
                StringEquals: "COMPLETED"
                Next: MapPosts
              - Variable: "$.status"
                StringEquals: "FAILED"
                Next: SNSPublishError
            Default: Wait75Seconds
          Wait75Seconds:
            Type: Wait
            Seconds: 75
            Next: GetJobStatus
          MapPosts:
            Type: Map
            QueryLanguage: JSONata
            Comment: Map posts that are stored in S3
            Output: "{% $states.result.[*][*] %}"
            Items: "{% $map($states.input.post_ids, function($v) { 'posts/' & $states.input.execution_id & '/' & $v & '.json' }) %}"
            ItemProcessor:
              ProcessorConfig:
                Mode: DISTRIBUTED
                ExecutionType: EXPRESS
              StartAt: SyncPostToSupabase
              States:
                SyncPostToSupabase:
                  Type: Task
                  Resource: "arn:aws:states:::lambda:invoke"
                  Parameters:
                    FunctionName: !Ref SyncPostToSupabaseFunction
                    Payload.$: "$"
                  OutputPath: "$.Payload"
                  End: true
            Label: Map
            MaxConcurrency: 250
            ItemBatcher:
              MaxItemsPerBatch: 5
              BatchInput:
                Job: "{% $states.input %}"
            Retry:
              - ErrorEquals:
                  - States.TaskFailed
                  - States.Timeout
                BackoffRate: 2
                IntervalSeconds: 20
                MaxAttempts: 3
                JitterStrategy: FULL
            Catch:
              - ErrorEquals:
                  - States.ALL
                Next: SNSPublishError
            End: true
          SNSPublishError:
            Type: Task
            Resource: "arn:aws:states:::sns:publish"
            Parameters:
              TopicArn: !Ref ErrorTopic
              Message.$: "$"
            Next: FailJob
          FailJob:
            Type: Fail
            Error: "Poll job failed, check logs for more details"

Outputs:
  RedditScraperFunctionName:
    Description: Reddit scraper function name
    Value: !Ref RedditScraperFunction
  SteamScraperFunctionName:
    Description: Steam scraper function name
    Value: !Ref SteamScraperFunction
  SentimentJobCreatorFunctionName:
    Description: Sentiment job creator function name
    Value: !Ref SentimentJobCreatorFunction
  GetJobStatusFunctionName:
    Description: Job status checker function name
    Value: !Ref GetJobStatusFunction
  SyncPostToSupabaseFunctionName:
    Description: Sync post to Supabase function name
    Value: !Ref SyncPostToSupabaseFunction
  ErrorTopicName:
    Description: SNS topic name for errors
    Value: !GetAtt ErrorTopic.TopicName
  ErrorTopicArn:
    Description: SNS topic ARN for errors
    Value: !GetAtt ErrorTopic.TopicArn
  KeywordAPIPipelineArn:
    Description: Step Functions ARN for the keyword pipeline
    Value: !Ref KeywordAPIPipeline
  JobProcessingPipelineArn:
    Description: Step Functions ARN for the job processor pipeline
    Value: !Ref JobProcessingPipeline
  PostDeliveryStreamName:
    Description: Kinesis Firehose delivery stream name
    Value: !Ref PostDeliveryStream
